# It is not recommended to modify this file in-place, because it will
# be overwritten during package upgrades. If you want to add further
# options or overwrite existing ones then use
# $ systemctl edit gleecbtcd.service
# See "man systemd.service" for details.

# Note that almost all daemon options could be specified in
# /etc/gleecbtc/gleecbtc.conf, but keep in mind those explicitly
# specified as arguments in ExecStart= will override those in the
# config file.

[Unit]
Description=GleecBTC daemon
After=network.target

[Service]
ExecStart=/usr/bin/gleecbtcd -daemon \
                            -pid=/run/gleecbtcd/gleecbtcd.pid \
                            -conf=/etc/gleecbtc/gleecbtc.conf \
                            -datadir=/var/lib/gleecbtcd

# Make sure the config directory is readable by the service user
PermissionsStartOnly=true
ExecStartPre=/bin/chgrp gleecbtc /etc/gleecbtc

# Process management
####################

Type=forking
PIDFile=/run/gleecbtcd/gleecbtcd.pid
Restart=on-failure

# Directory creation and permissions
####################################

# Run as gleecbtc:gleecbtc
User=gleecbtc
Group=gleecbtc

# /run/gleecbtcd
RuntimeDirectory=gleecbtcd
RuntimeDirectoryMode=0710

# /etc/gleecbtc
ConfigurationDirectory=gleecbtc
ConfigurationDirectoryMode=0710

# /var/lib/gleecbtcd
StateDirectory=gleecbtcd
StateDirectoryMode=0710

# Hardening measures
####################

# Provide a private /tmp and /var/tmp.
PrivateTmp=true

# Mount /usr, /boot/ and /etc read-only for the process.
ProtectSystem=full

# Deny access to /home, /root and /run/user
ProtectHome=true

# Disallow the process and all of its children to gain
# new privileges through execve().
NoNewPrivileges=true

# Use a new /dev namespace only populated with API pseudo devices
# such as /dev/null, /dev/zero and /dev/random.
PrivateDevices=true

# Deny the creation of writable and executable memory mappings.
MemoryDenyWriteExecute=true

[Install]
WantedBy=multi-user.target
